#container{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

#center{
    width: 100%;
}

#tree{
    height: 600px;
    border-right: #e8e8e8 1px solid;
    border-left: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid;
    overflow-y: auto;
}

#info{
    width: 200px;
    margin: 0;
}